<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Portfolio Notes - Authentication</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/notes.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h3>Portfolio Notes</h3>
        <p>Please authenticate with <a href="/auth/login/google">Google</a>.</p>
    </body>
<html>
