<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{{{title}}}</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/notes.css" rel="stylesheet" type="text/css" />
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div id="main-panel"></div>
    </body>
    <script type="text/javascript" src="/js/bundle.js"></script>
<html>
