body {
    padding: 20px;
    background-color: #eee;
    color: #555;
}

.btn-primary {
    background-color: #557;
    border-color: #557;
}

label ::after {
    content: ":"
}

#app-error pre {
    background-color: #f77;
    color: #200;
}

#login-panel {
    margin: auto;
    width: 30%;
    min-width: 400px;
    background-color: #ddd;
}

#main-toolbar {
    float: left;
    clear: both;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 20px;
}

#main-toolbar #userDisplayName {
    margin-right: 10px;
}

#main-toolbar button {
    margin-right: 10px;
}

#main-toolbar .right {
    float: right;
}

#main-toolbar #user-display-name {
    margin-right: 20px;
}

#notes {
    clear: left;
}

.note, .note-edit {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 3px;
}

.note textarea {
    padding: 10px;
    width: 300px;
    height: 200px;
}

.note-edit textarea {
    padding: 10px;
    width: 300px;
    height: 155px;
}

.note-edit button, note-new button {
    margin-top: 5px;
    margin-right: 10px;
}

.note-red textarea {
    background-color: #fdd;
}

.note-blue textarea {
    background-color: #ddf;
}

.note-green textarea {
    background-color: #dfd;
}

.note-yellow textarea {
    background-color: #ffd;
}
